.text {
  font-size: 32px;
}

.item-wrapper {
  display: flex;
  align-items: center;
  .placeholder {
    font-size: 32px;
    color: #7D8189;
  }
  .flex1 {
    flex: 1;
  }
  .icon-wrapper {
    width: 40px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
  }
}