$cls-prefix: 'cp-float-layout';

.#{$cls-prefix} {
  .at-float-layout .layout-body {
    padding: 0;
    .layout-body__content {
      display: flex;
      flex-direction: column;
    }
  }
  &-wrapper {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
    min-height: 600px;
    max-height: 799px;
  }
  &-content {
    padding: 18px;
    flex: 1;
    overflow: auto;
  }
  &-header {
  }
  &-footer {
  }
}