

$error-color: red;
$field-label-width: 190px;

.form-item-label {
  width: $field-label-width;
  position: relative;
  padding-right: 20px;
  .required-star {
    color: $error-color;
    position: absolute;
    left: -16px;
    top: -2px;
  }
  .colon {
    display: inline-block;
    transform: translate(6px, -2px);
  }
  &-error {
    color: $error-color;
  }
}