.item-label {
  padding-right: 24px;
  display: flex;
  height: 100%;
  align-items: center;
  width: 196px;
  font-size: 30px;
}

.label-wrapper {
  position: relative;
}

.vertical {
  margin-top: 24px;
}

.required-star {
  color: red;
  display: inline-block;
  position: absolute;
  left: -18px;
  top: -2px;
}

.errorLabel {
  color: red;
}

.colon {
  display: inline-block;
  transform: translate(6px, -2px);
}