@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

.form-item {
  @include hairline-bottom(#d6e4ef);
  &::after {
    z-index: 1;
  }
}

.item-component {
  flex: 1;
  .at-input {
    margin-left: 0;
  }
}

.horizontal {
  display: flex;
  align-items: baseline;
}


