@import "~taro-ui/dist/style/mixins/libs/hairline.scss";

$cls-prefix: 'cp-form-item';

.#{$cls-prefix} {
  .at-input, .at-switch {
    padding: 0;
    margin-left: 0;
  }
  &-control {
    width: 100%;
  }
}

.#{$cls-prefix}-horizontal {
  display: flex;
  align-items: baseline;
}

.#{$cls-prefix}-error {
  color: red;
  .at-input input {
    color: red;
  }
}



