.item-label {
  padding-right: 24px;
  display: flex;
  height: 100%;
  align-items: center;
  width: 170px;
  position: relative;
  font-size: 30px;
}

.topPlacement {
  align-items: stretch;
}

.vertical {
  margin-bottom: 12px;
}

.required-star {
  color: red;
  display: inline-block;
  position: absolute;
  left: -20px;
  top: -6px;
}

.error {
  color: red;
}

.colon {
  display: inline-block;
  transform: translate(6px, -2px);
}