.error-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error {
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 10;
  background: white;
  padding-right: 10px;
}